/*start globle role */
*{
    -webkit-box-sizing:border-box ;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
  }
  :root{
      --main-color:#31588D ;
      --main-color-alt:#172447 ;
      --main-transition:0.3s;
      --main-padding-top:100px;
      --main-padding-bottom:100px;
  }

  html{
      scroll-behavior: smooth;

  }
  ul{
      list-style: none;
      padding: 0;
      margin: 0;
  }
  a{
    text-decoration: none;
  }
  body{
    font-family: sans-serif;
    background-color: white ;
  }
  .con{
      padding-left: 15px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
  }
  @media(min-width:- 768px){
      .con{
          width: 750px;
      }
  }

  @media(min-width:- 992px){
      .con{
          width: 970px;
      }
  }

  @media(min-width:- 1200px){
      .con{
          width: 1170px;
      }
  }
  .main-title{
    margin: 0 auto 80px;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
  }
  .main-title::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-title:hover::before{
      z-index: -1;
      animation: left-move 0.5s linear forwards;
  }
  .main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
  }
  .main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
  }
  .spikes{
    position: relative;
  }
  .spikes::after{
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
  }
  /* end globle role*/





  /* start header */
  .header {
      background-color: white;
      position: relative;
      -webkit-box-shadow: 0 0 10px #ddd;
      -moz-box-shadow: 0 0 10px #ddd;
      box-shadow: 0 0 10px #ddd;

  }

  .header .con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}



  .header .logo{
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  @media (max-width: 767px){
    .header .logo{
       width: 100%;
       height: 40px;
    }
}

  .header .main-nav{
    display: flex;

  }
  @media (max-width: 767px){
    .header .main-nav{
      margin: auto;
    }
}
.header .main-nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top:calc(100% + 1px) ;
}

  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 72px;
    position: relative;
    color: black;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}
@media (max-width: 767px){
    .header .main-nav > li > a{
        padding: 10px;
    font-size: 14px;
    height: 30px;
}
    }

 .header .main-nav > li > a::before{
    content: "";
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
 }

 .header .main-nav > li > a:hover{
     color: var(--main-color);
     background-color: #fafafa;
 }

 .header .main-nav > li > a:hover::before{
     left: 0;
 }
 .header .mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color), opacity var(--main-transition);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition) ;
 }
 @media(max-width: 767px){
    .header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
 }
 .header .mega-menu .image img{
     max-width: 40%;
 }
 @media(max-width: 991px){
    .header .mega-menu .image{
        display: none;
    }
 }
 .header .mega-menu .links{
    min-width: 240px;
    flex: 1;
 }
  .header .mega-menu .links li{
    position: relative;
  }
  .header .mega-menu .links li:not(:last-child){
      border-bottom: 1px solid #e9e6e6;
  }
  @media(max-width: 767px){
    .header .mega-menu .links:first-of-type li:last-child{
      border-bottom: 1px solid #e9e6e6;
    }
  }
  .header .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover:before{
    width: 100%;
}
.header .mega-menu .links li a{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}
.header .mega-menu .links li a i{
    margin-right: 10px;
}

 /* End header  */





/*start landing*/
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .con{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text{
    flex: 1;
}
@media(max-width: 991px){
    .landing .text{
        text-align: center;
    }
}
.landing .image img{
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite ;
}
@media(max-width: 991px){
    .landing .image{
        display: none;
    }
}
.landing .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media(max-width: 767px){
    .landing .text h1{
        font-size: 28px;
    }
}
.landing .text p{
    font-size: 21px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}
@media(max-width: 991px){
    .landing .text p{
       margin: 10px auto;
    }
}
@media(max-width: 767px){
    .landing .text p{
        font-size: 18px;
    }
}
.landing .go-down{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
   animation: bouncing 1.5s infinite;
}
/*End landing*/





/* start article */
.article{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.article .con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.article .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.article .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.article .box img{
    width: 100%;
    max-width: 100%;
}
.article .box .content{
    padding: 20px;
}
.article .box .content h3{
    margin: 0;
}
.article .box .content p{
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}
.article .box .info{
    padding: 20px;
    border-top: 1px solid #E6E6E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
}
.article .box .info a{
    color: var(--main-color);
    font-weight: bold;
}
.article .box .info i{
    color: var(--main-color);
}
.article .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
}

/* end article */




/* start gallery */

.gallery{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;
}
.gallery .con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255 255 255 / 20%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .box .image:hover::before{
    animation: flashing 0.7s;
}
.gallery .box .image:hover img{
    transform:rotate(5deg) scale(1.1) ;
}
.gallery .box img{
    max-width: 100%;
    transition: var(--main-transition);
}

/* end gallery */




/* start features */
.features{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.features .con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box{
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .img-holder{
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}
.features .box .img-holder::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 190px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .img-holder::after{
    border-width:190px 500px   190px 0px;
    border-color: transparent   transparent white transparent ;
}

.features .box h2{
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.features .box h2::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}
.features .box p{
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #555;
}
.features .box a{
    display: block;
    border: 3px solid;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .box:hover a{
    background-position: left bottom;
    color: white;
}
.features .box .img-holder img{
    max-width: 100%;
}
.features .quality .img-holder::before{
    background-color: rgb(78 156 129 / 60%);
}
.features .quality h2::after{
 background-color: #4e9c81;
}
.features .quality a{
    color: #4e9c81;
    border-color: #4e9c81;
    background: linear-gradient(to right, #4e9c81 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .time .img-holder::before{
    background-color: #d8705181;
}
.features .time h2::after{
 background-color: #d87151;
}
.features .time a{
    color: #d87151;
    border-color: #d87151;
    background: linear-gradient(to right, #d87151 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .news .img-holder::before{
    background-color: #a0bacc86;
}
.features .news h2::after{
 background-color: #a0bacc;
}
.features .news a{
    color: #a0bacc;
    border-color: #a0bacc;
    background: linear-gradient(to right, #a0bacc 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

/* end features */




/* start Testimonials */

.testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;
}
.testimonials .con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box{
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
}
.testimonials .box img{
    position: relative;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ececec;
}
.testimonials .box h3{
    margin: 0px 0px 10px;
    color: var(--main-color);
}
.testimonials .box .title{
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.testimonials .box .rate .filled{
    color: #ffc107;
}
.testimonials .box p{
    line-height: 1.5;
    color: var(--main-color-alt);
    margin-top: 10px;
    margin-bottom: 0;
}
/* end Testimonials */






/* start team */
.team{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    /* background-color:white; */
}
.team .con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team .box{
    position: relative;
}
.team .box::before{
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 10px;
    z-index: -2;
    transition: var(--main-transition);
}
.team .box::after{
    content: "";
    background-color: gray;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    border-radius: 10px;
    z-index: -1;
    background-color: #e4e4e4;
    transition: var(--main-transition);
}
.team .box:hover:after{
    width: calc(100% - 60px);
}
.team .box .data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img{
    width: 300px;
    height: 300px;
    transition: var(--main-transition);
    border-radius: 10px;
}
.team .box:hover img{
    filter: grayscale(100%);
}
.team .box .data .social{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a{
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .box .data .social a:hover i{
    color: var(--main-color);
}
@media (max-width: 767px) {
  .team .box .data .social a{
        margin-left: -28px;
  }

}
.team .box .data .social i{
    color: #777;
    transition: var(--main-transition);
}
.team .box .info{
    padding-left: 90px;
}
.team .box .info h3{
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 25px;
    transition: var(--main-transition);
}
.team .box .info p{
    margin-top: 10px;
    margin-bottom: 25px;
}
.team .box:hover .info h3{
    color: #777;
}

/* end team */




/* start services  */
.service{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;
}
.service .con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.service .box{
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    background-color: white;
    counter-increment: services;
    position: relative;
    transition: var(--main-transition);
}
.service .box::before{
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -4px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition);
}
.service .box:hover{
    transform: translateY(-10px);
}
.service .box:hover::before{
    width: 100%;
}
.service .box > i{
    margin: 40px auto;
    display: block;
    text-align: center;
    color: #d5d5d5;
}
.service .box > h3{
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}
.service .box .info{
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.service .box .info a{
    color: var(--main-color);
}
.service .box .info::before{
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.service .box .info::after{
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: 49px;
    transform: skewX(-30deg);
}

/* end services */





/* start skills */
.our-skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.our-skills .con{
    display: flex;
    align-items: center;
}
@media(max-width: 991px){
    .our-skills img{
        display: none;
    }
}
.our-skills img{
    width: 285px;
    padding: 10px 40px 0 0;
}
.our-skills .skills{
    flex: 1;
}
.our-skills .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills .skill h3 span{
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}
.our-skills .the-pro{
    height: 30px;
    background-color: #eee;
    position: relative;
}
.our-skills .the-pro span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}

/* end skills */



/* start work */
.work-steps{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;
}
.work-steps .con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 991px){
    .work-steps .con{
        flex-direction: column;
    }
}
@media (max-width: 767px ) {
 .con{
    max-width: 100%;
  }
}
.work-steps .image{
    max-width: 100%;
    margin-right: 100px;
    height: 500px;
}
@media(max-width: 991px){
   .work-steps .image{
    margin: 0 0 50px;
}
}
.work-steps .info .box{
    background-color: #f6f5f5;
    padding: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.work-steps .info .box::before{
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
}
.work-steps .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.work-steps .info .box i{
    margin-right: 30px;
    color: var(--main-color);
    margin-bottom: 20px;
    margin-left: 30px;
}
.work-steps .info .box h3{
    margin: 0;
    font-size: 22px;
}
.work-steps .info .box p{
    line-height: 1.7;
    color: #777;
    margin: 10px 0 0;
    font-size: 18px;
}

/* end work  */


/*start event*/
.events{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.events .con{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events img{
  max-width: 350px;
  margin-right: 30px;
}
@media (max-width: 991px) {
  .events img{
    display: none;
  }
}
.events .info{
  flex: 1;
}
.events .info .time{
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
.events .info .time .unit span{
  display: block;
}
.events .info .time .unit{
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition);
}
.events .info .time .unit span:first-child{
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.events .info .time .unit span:last-child{
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child
{
  border-color: var(--main-color);
}
.events .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .des{
  text-align: center;
  line-height: 1.7;
  font-size: 13px;
  color: #777;
}
.events .subscribe{
  width: 100%;
  margin-top: 50px;
}
.events .subscribe form{
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media(max-width: 767px ) {
  .events .subscribe form{
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }

}
.events .subscribe form input[type="email"]{
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="email"]{
    border-radius: 0;
  }

}
.events .subscribe form input[type="email"]:focus {
  outline: none;
  color: var(--main-color);
}
.events .subscribe form input[type="email"]::placeholder{
  transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder{
  opacity: 0;
}
.events .subscribe form input[type="submit"]{
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="submit"]{
    border-radius: 0;
  }

}
.events .subscribe form input[type="submit"]:hover{
  background-color: var(--main-color-alt);
}


/*end event*/

/*start pricing */
.pricing{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: #ececec;
}
.pricing .con{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
  gap: 30px;
  justify-content: space-around;
}
.pricing .box{
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background-color: white;
  text-align: center;
  z-index: 1;
}
.pricing .box::before,
.pricing .box::after{
  content: "";
  height: 50%;
  width: 0;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .box::before{
  left: 0;
  top: 0;
}
.pricing .box::after{
  right: 0;
  bottom: 0;
}
.pricing .box:hover::after,
.pricing .box:hover::before{
  width: 100%;
}
@media (min-width: 1020px) {
  .pricing .box.popular{
    top: -20px;
  };
}
 .pricing .box.popular .label{
   position: absolute;
writing-mode: vertical-rl;
background-color: var(--main-color);
color: white;
font-weight: bold;
padding: 10px 10px 35px 10px;
font-size: 18px;
right: 20px;
width: 40px;
 }
 .pricing .box.popular .label::before{
   content: "";
   position: absolute;
   right: 0;
   bottom: 0;
   border-style: solid;
   border-color: transparent transparent white transparent;
   border-width: 20px;
 }
 .pricing .box .title{
   font-size: 25px;
  font-weight: bold;
  margin: 30px 0;
  letter-spacing: -1px;
 }
 .pricing .box i{
   color: var(--main-color);
   width: 80px;
   margin: 20px;
   font-size: 80px;
 }
 .pricing .box i::before{
   font-family: "Font Awesome 5 Free";
   content: "\f1c0";
   margin: 10px;
   font-weight: 900;
   color: var(--main-color);
 }
  .pricing .box .price{
    margin-bottom: 20px ;
  }
   .pricing .box .amount{
     display: block;
     font-size: 60px;
     font-weight: bold;
     margin-bottom: 5px;
     color: var(--main-color);
   }
    .pricing .box .time{
      color: #777;
    }
    .pricing .box ul{
      text-align: left;
    }
    .pricing .box ul li{
      padding: 20px;
      border-top: 1px solid #eee;
    }
    .pricing .box ul li::before{
      font-family: "Font Awesome 5 Free";
      content: "\f00c";
      margin: 10px;
      font-weight: 900;
      color: var(--main-color);
    }
    .pricing .box a{
      display: block;
      width: fit-content;
      border: 2px solid var(--main-color);
      color: var(--main-color);
      margin: 30px auto 40px;
      padding: 15px 20px;
      border-radius: 6px;
      font-weight: bold;
      transition: var(--main-transition);
    }
    .pricing .box a:hover{
      background-color: var(--main-color-alt);
      border-color:var(--main-color-alt);
      color: white;
    }
/*end pricing */


/*start videos*/
.video{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.video .holder{
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .video .holder{
    flex-direction: column;
  }
}
.video .holder .list{
  min-width: 300px;
  background-color: white;
}
.video .holder .list .name{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  color: var(--main-color);
}
.video .holder .list ul li{
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  cursor: pointer;
  transition: var(--main-transition);
}
.video .holder .list ul li:hover{
  background-color: #fafafa;
  color: var(--main-color);
}
.video .holder .list ul li span{
  display: block;
  margin-top: 10px;
  color: #777;
}
.video .holder .preview{
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video .holder .preview img{
    max-width: 100%;
}
.video .holder .preview .info{
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
/*end videos*/


/*start stats*/
.stats{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(../images/stats.jpg);
  background-size: cover;
  min-height: 300px;
}
.stats::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2{
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .con{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
  gap: 20px;
}
.stats .box{
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box::after,
.stats .box::before{
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  height: 0;
}
.stats .box::after{
  bottom: 0;
  left: 0;
}
.stats .box::before{
  top: 0;
  right: 0;
}
.stats .box:hover::after,
.stats .box:hover::before{
  height: 100%;
}
.stats .box:hover{
  opacity: 1;
}
.stats .box .number{
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text{
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/*end stats*/


/*strat discount*/
.discount{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image{
  background-image: url(../Images/stats.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation:change-background 10s linear infinite;
  z-index: 1;
}
.discount .image::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #31588dba;
  z-index: -1;
}
@media (max-width: 991px){
  .discount .image{
    flex-basis: 100%;
  }
}
.discount .content{
  text-align: center;
  padding: 0 20px;
}
.discount .content h2{
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p{
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img{
  width: 300px;
  max-width: 100%;
}
.discount .form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px){
  .discount .form{
    flex-basis: 100%;
  }
}
.discount .form .input{
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input{
  resize: none;
  height: 200px;
}
.discount .form .input:focus{
  outline: none;
}
.discount .form [type="submit"]{
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover{
  background-color: var(--main-color-alt);
}
@media (max-width: 771px ){
  .discount{
    padding-bottom: 20px;
  }
}
/*end discount*/


/* start footer */
.footer{
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .con{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box{

}
.footer .box h3{
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social{
  display: flex;
  margin-bottom: 20px;
}
.footer .box .social li{
    margin-right: 15px;
}
.footer .box .social li a{
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover{
  background-color: #1877f2;
  color: white;
}
.footer .box .social .twitter:hover{
  background-color: white;
  color: #1da1f2;
}
.footer .box .social .youtube:hover{
  background-color: white;
  color: #ff0000;
}
.footer .box .text{
  line-height: 2px;
  color: #b9b9b9;
}
.footer .box .links li{
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child){
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover{
  padding-left: 10px;
}
.footer .box .links li:hover a{
  color: white;
}
.footer .box .links li a{
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before{
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.footer .box .line i{
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .box .line .info{
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span{
  display: block;
}
.footer .footer-gallery img{
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright{
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
@media (max-width: 771px ) {
.footer{
  display: flex;
  text-align: center;
  flex-direction: column;
}
.footer .box .social{
  justify-content: center;
}
.footer .box .line{
  flex-direction: column;
}
.footer .box .line i{
  margin-bottom: 10px;
  margin-right: 0;
}
}

/* end footer */

/*start animation*/
@keyframes up-and-down {
    0%, 100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100%{
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background{
  0%, 100% {
    background-image:  url(../Images/stats.jpg);
  }
  50% {
    background-image:  url(../Images/ball.jpg);
  }
}
/*end animation*/





/* start scrollbar  */
::-webkit-scrollbar{
    width: 30px;
}
::-webkit-scrollbar-track{
    background-color: #f6f6f6;
    box-shadow:0 0 10px #ddd inset;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}
::-webkit-scrollbar-track:hover{
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
::-webkit-scrollbar-thumb{
      background-color: rgb(49 88 141 / 50%);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #31588D;
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
::-webkit-scrollbar-corner{
    background-color: var(--main-color-alt);
    border-radius: 20px;
}
/* end scrollbar  */
